.navbar {
    display: flex;
    justify-content: center;
    gap: 70px; /* Espaciado */
    background-color: #333;
    padding: 10px 0;
  }
  
  .navbar a {
    text-decoration: none; /* Eliminar subrayado */
    color: white; /* Color del texto */
    font-size: 2.5rem; 
    font-weight: bold;
    transition: color 0.3s ease; 
  }
  
  .navbar a:hover {
    color: #ff7e5f; 
  }
  
  .navbar a.active {
    color: #ff7e5f;
    border-bottom: 2px solid #ff7e5f; 
  }
  